;;
;; Configuration
;;
{:secrets {:db {:dbtype "postgres"
                :dbname "startrek"
                :host "postgres"
                :port 5432
                :username "theborg"
                :password "resistanceisfutile"}}

 :runtime-config {:jetty {:port 9503}
                  :jmxmp {:port 15555}}

 :components
 ;; opqaue "$deity" configuration
 {:app-config {:start {:db (clip/ref :db)
                       :runtime-config #ref [:runtime-config]
                       :secrets #ref [:secrets]}}

  :db {:start (startrek.components.database.impl/start #ref [:secrets :db])
       :post-start (startrek.components.database.impl/post-start this ["db/migration/postgresql"])
       :stop (startrek.components.database.impl/stop this)}

  :jmxmp {:start (startrek.components.jmxmp.impl/start #ref [:runtime-config :jmxmp])
          :stop (startrek.components.jmxmp.impl/stop this)}

  :router {:start (startrek.api.router/start (clip/ref :app-config))
           :stop (startrek.api.router/stop this)}}}
