;;
;; Configuration
;;
{:secrets #include "/var/run/secrets/startrek-secrets-config.edn" ;; externalised and usually "mounted" as a docker/kubernetes secret

 :runtime-config #include "/config/startrek-runtime-config.edn" ;; externalised and usually "mounted" as a docker/kubernetes secret

 :components
 ;; opqaue "$deity" configuration
 {:app-config {:start {:runtime-config #ref [:runtime-config]
                       :secrets #ref [:secrets]
                       :startrek-db (clip/ref :startrek-db)}}

  :jmxmp {:start (startrek.components.jmxmp.impl/start #ref [:runtime-config :jmxmp :port])
          :stop (startrek.components.jmxmp.impl/stop this)}

  :startrek-db {:start (startrek.components.database.impl/start {:dbtype #ref [:secrets :startrek-db :dbtype]
                                                                 :host #ref [:secrets :startrek-db :host]
                                                                 :port #ref [:secrets :startrek-db :port]
                                                                 :dbname #ref [:secrets :startrek-db :dbname]
                                                                 :username #ref [:secrets :startrek-db :username]
                                                                 :password #ref [:secrets :startrek-db :password]
                                                                 :poolName #ref [:secrets :startrek-db :dbname]})
                :post-start (startrek.components.database.impl/post-start this ["db/migration/postgresql"])
                :stop (startrek.components.database.impl/stop this)}

  :router {:start (startrek.base.api.router/start (clip/ref :app-config) {:port #profile {:default #or [#env PORT 8080]}})
           :stop (startrek.base.api.router/stop this)}}}
