{:paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        aero/aero {:mvn/version "1.1.6"}
        ch.qos.logback/logback-classic {:mvn/version "1.2.3" :exclusions [org.slf4j/slf4j-api]}
        cheshire/cheshire {:mvn/version "5.10.0"}
        clj-http/clj-http {:mvn/version "3.10.2"}
        com.zaxxer/HikariCP {:mvn/version "3.4.5"}
        honeysql/honeysql {:mvn/version "1.0.444"}
        juxt/clip {:mvn/version "0.19.0"}
        metosin/muuntaja {:mvn/version "0.6.7"}
        metosin/reitit {:mvn/version "0.5.5"}
        org.clojure/tools.logging {:mvn/version "1.1.0"}
        org.flywaydb/flyway-core {:mvn/version "6.1.4"}
        org.postgresql/postgresql {:mvn/version "42.2.16"}
        org.slf4j/jcl-over-slf4j {:mvn/version "1.7.30"}
        org.slf4j/jul-to-slf4j {:mvn/version "1.7.30"}
        org.slf4j/log4j-over-slf4j {:mvn/version "1.7.30"}
        prismatic/schema {:mvn/version "1.1.12"}
        ring/ring-jetty-adapter {:mvn/version "1.8.1"}
        seancorfield/next.jdbc {:mvn/version "1.1.582"}}

 :aliases {:test {:extra-paths ["test" "test/resources"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.672"}
                               expectations/clojure-test {:mvn/version "1.2.1"}}}

           :test-runner {:extra-paths ["test" "test/resources"]
                         :extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.672"}
                                       expectations/clojure-test {:mvn/version "1.2.1"}}
                         :main-opts ["-m" "kaocha.runner" "--reporter" "kaocha.report/documentation"]}

           :uberjar {:extra-deps {seancorfield/depstar {:mvn/version "1.1.104"}
                                  org.clojure/tools.deps.alpha {:mvn/version "0.9.763"}}
                     :main-opts ["-m" "hf.depstar.uberjar" "startrek.jar" "-C" "-m" "startrek.main"]}}}
